/* Containers */
.display-container {
  display: flex;
  flex-direction: column;
  min-height: 355px;
}

.display-container:hover {
  cursor: pointer;
}

.styling-3 {
  background-image: url('https://themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
}